# NOTE: newer versions of cryptography require a Rust compiler to build,
# see
# * https://github.com/openstack-charmers/zaza/issues/421
# * https://mail.python.org/pipermail/cryptography-dev/2021-January/001003.html
#
cryptography<3.4

requests>=2.18.4

stestr

coverage

pyudev              # for ceph-* charm unit tests (need to fix the ceph-* charm unit tests/mocking)
git+https://github.com/openstack-charmers/zaza.git#egg=zaza
git+https://github.com/openstack-charmers/zaza-openstack-tests.git#egg=zaza.openstack

# icey: pyopenssl 22 introduces a requirement on newer OpenSSL which causes test
# failures. Pin pyopenssl to resolve the failure.
pyopenssl<=22.0.0

pydantic < 2
cosl
